extends layout
block content
  div.my-3
    if user
      a(href=`/users/${userId}`).btn.btn-info.float-right #{user.username}さん
    else 
      a(href="/auth/twitter").btn.btn-info.float-right ログイン
    h1 JankenOnline2