extends layout
block content
  div(style="text-align: center;").jumbotron.my-3
    h1.display-4 Janken Online 2
    p.lead Janken Online 2 は離れていても公平なじゃんけんを楽しむことを可能にします。
    p.lead 右上のボタンからtwitterのアカウントでログインし、早速じゃんけんをしてみましょう!
  div(style="text-align: center;").my-3
    form(method="post", action=`/moveToRoom`)
      div.form-group
        label(for="key") 半角数字4桁のキーを指定して部屋を作る、または入る:　
        input(type="tel" name="key" minlength="4" maxlength="4" size="10" required).form-static
      div
        button(type="submit").btn.btn-info 部屋に移動
      br
      button(href="/janken/1").btn-outline-success 部屋1
      button(href="/janken/2").btn-outline-success 部屋2
      button(href="/janken/3").btn-outline-success 部屋3
      button(href="/janken/4").btn-outline-success 部屋4
      button(href="/janken/5").btn-outline-success 部屋5
      button(href="/janken/6").btn-outline-success 部屋6
      button(href="/janken/7").btn-outline-success 部屋7
      button(href="/janken/8").btn-outline-success 部屋8
      button(href="/janken/9").btn-outline-success 部屋9
      button(href="/janken/10").btn-outline-success 部屋10